<section>
  <h1>About Me</h1>
  <img src="/images/profile.png" style="border: 0px;">
  <p>Hello, Eric G. Wolfe, here. I am a Solutions Engineer at <a href="http://www.cyclecomputing.com">Cycle Computing.</a> You might know me as atomic-penguin from various corners of the Internet.</p>
  <p>I like playing video games, cooking, and programming.  I am an active <a href="http://www.getchef.com">Chef (software)</a> community member, and most of my contributions are for the <a href="https://github.com/opscode-cookbooks">COOK project</a>.</p>
</section>
